○ pipewire-pulse.service - PipeWire PulseAudio
     Loaded: loaded (]8;;file://doerLinux/usr/lib/systemd/user/pipewire-pulse.service/usr/lib/systemd/user/pipewire-pulse.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: inactive (dead) since Mon 2026-04-20 17:20:52 CST; 52s ago
   Duration: 4h 26min 26.605s
TriggeredBy: ○ pipewire-pulse.socket
   Main PID: 1722 (code=exited, status=0/SUCCESS)
        CPU: 688ms

4月 20 12:54:26 doer-Lenovo-Legion-Y70002021 systemd[1703]: Started pipewire-pulse.service - PipeWire PulseAudio.
4月 20 17:20:52 doerLinux systemd[1703]: Stopping pipewire-pulse.service - PipeWire PulseAudio...
4月 20 17:20:52 doerLinux systemd[1703]: Stopped pipewire-pulse.service - PipeWire PulseAudio.
